body {
    margin: 0;
    padding: 0;
    background-image: url('cat.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

input::placeholder {
    font-family: 'Finger Paint', cursive;
}

select {
    font-family: 'Finger Paint', cursive;
}
